/**
 * Workgroup form settings.
 */
form#zkp-workgroup-mail-form {
  width: 640px;
  margin: 0 auto;
  padding: 0.5em;
}
form#zkp-workgroup-mail-form fieldset {
  padding: 1em;
 -moz-border-radius:10px;
 -webkit-border-radius: 10px;
}
form#zkp-workgroup-mail-form fieldset.collapsible {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
}
form#zkp-workgroup-mail-form fieldset legend {
  font-size: 1.6em;
  color: #cc0000;
}
form#zkp-workgroup-mail-form fieldset.collapsible legend {
 font-size: 100%;
}

/**
 * Custom contact form settings.
 */
form#zkp-custom-contact-form fieldset.collapsible .fieldset-wrapper {
  overflow: hidden;
}
form#zkp-custom-contact-form fieldset #edit-captcha-response-wrapper .description {
  display:none;
}